# Lab practice

##  a. list

### 1. Make a list of 5 any integers.

In [15]:
a = [1,5,9,7,5,8]
print(a)

[1, 5, 9, 7, 5, 8]

### 2.  Make a list that contains the student's name, the last three digits of the registration number as an integer, CGPA as a float, and a list that contains the GPA of all semesters.

In [139]:
A = ['Shaheer Khan', 457 ,3.54,[3.92,3.19]]
print(A)

['Shaheer Khan', 457, 3.54, [3.92, 3.19]]

### 3.  In the above list print the student's CGPA

In [18]:
A = ['Shaheer Khan', 457 ,3.54,[3.92,3.19]]
print(A[2])

3.54

### 4.  Print the list elements using the while loop and use the length function

In [22]:
a = ['Shaheer Khan', 457 ,3.54,[3.92,3.19]]
i = 0
a_length = len(a)

while i < a_length:
    print(a[i])
    i=i+1

Shaheer Khan
457
3.54
[3.92, 3.19]

### 5.  Access the list of all semester GPAs using negative indexing.

In [29]:
gpa_list = [3.92, 3.19]

# Accessing all semester GPAs using negative indexing
last_semester_gpa = gpa_list[-1]
second_last_semester_gpa = gpa_list[-2]

# You can print these values
print("Last Semester GPA:", last_semester_gpa)
print("Second Last Semester GPA:", second_last_semester_gpa)

Last Semester GPA: 3.19
Second Last Semester GPA: 3.92

### 6.  Make a list of the first 20 integers using the range function.

In [24]:
first_20_integers = list(range(1, 21))
print(first_20_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 7. Make a list of odd integers from 20 to 40 using the range function.

In [22]:
odd_integer = list(range(21,41,2))
print(odd_integer)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

### 8. Make a student list and Use in and not in operators to ensure that the student is in the list or not.

In [70]:
students_list = ["Ibrahim", "Hussain", "Irfan", "Ayub", "Usman"]

# Check if a student is in the list
student = "Irfan"
if student in students_list:
    print(student, "is in the list.")
else:
    print(student, "is not in the list.")

# Check if a student is not in the list
student = "Daniyal"
if student not in students_list:
    print(student, "is not in the list.")
else:
    print(student, "is in the list.")

Irfan is in the list.
Daniyal is not in the list.

### 9.  Print all the student lists in task 8 using the for loop.

In [86]:
students_list = ["Ibrahim", "Hussain", "Irfan", "Ayub", "Usman"]
i=0
for i in students_list:
    print(i)

Ibrahim
Hussain
Irfan
Ayub
Usman

### 10. Observe what is print, what is the first thing print, what the last thing print.Student [1:3] and student [2:4]

In [1]:
students_list = ["Ibrahim", "Hussain", "Irfan", "Ayub", "Usman"]

print(students_list[1:3],"\n", students_list[2:4])

['Hussain', 'Irfan']
 ['Irfan', 'Ayub']

## b. Tuple

### 1.  Make a tuple containing first five letters of English.

In [93]:
english_alphabet = ('A', 'B', 'C', 'D', 'E')
print(english_alphabet)

('A', 'B', 'C', 'D', 'E')

### 2.  Use the index to access the third and last element.

In [100]:
english_alphabet = ('A', 'B', 'C', 'D', 'E')
print("Third element is " , english_alphabet[2])
print("Last  element is " , english_alphabet[4])

Third element is  C
Last  element is  E

## c. Dictionary:

### 1. Consider the following structure and observe.  
### Fd= { ‘one’: ‘aik’, , ‘three’: ‘teen’, ‘ten’ : ‘das’, ‘fifteen’ : ‘pandra’}

#### Bracket type

In [3]:
Fd = {'one': 'aik', 'three' : 'teen', 'ten' :'das','fifteen' :'pandra' }
print(type(Fd))

<class 'dict'>

#### Print Fd

In [4]:
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

#### Fd  [‘one’]

In [5]:
print(Fd['one'])

aik

#### Fd  [‘ten’]

In [6]:
print(Fd['ten'])

das

#### del Fd [‘three’] and then print Fd.

In [7]:
del Fd['three']
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

#### Len(Fd)

In [8]:
print(len(Fd))

3

#### Use the key method and print the list of keys.

In [18]:
Fd = {'one': 'aik', 'three' : 'teen', 'ten' :'das','fifteen' :'pandra' }
keys = list(Fd.keys())
print("List of Keys:",keys)

List of Keys: ['one', 'three', 'ten', 'fifteen']

#### Use the value function to print the list of values.

In [19]:
values = list(Fd.values())
print("List of Values:", values)

List of Values: ['aik', 'teen', 'das', 'pandra']

#### Observe the output of Fd.items().

In [20]:
items = list(Fd.items())
print("List of items: ",items)

List of items:  [('one', 'aik'), ('three', 'teen'), ('ten', 'das'), ('fifteen', 'pandra')]

#### Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required

In [21]:
print(Fd.has_keys('one'))

AttributeError: 'dict' object has no attribute 'has_keys'

### To copy the dictionary, one may use one of the following. Verify by printing copy and alias.

#### copy = Fd.copy()

In [22]:
copy = Fd.copy()
print("Copy of dictionary: ",copy)

Copy of dictionary:  {'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

#### alias = Fd

In [23]:
alias = Fd 
print("Another Copy of dictionary named alias: " ,alias)

Another Copy of dictionary named alias:  {'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

#### Now let alias [‘three’] = ‘3’, now print alias and observe the result

In [24]:
alias['three'] = '3'
print("Change the key 'three' by value '3': ",alias)

Change the key 'three' by value '3':  {'one': 'aik', 'three': '3', 'ten': 'das', 'fifteen': 'pandra'}

#### Also let copy [‘three’] = ‘3’, now print copy and observe the result

In [25]:
copy['three'] = '3'
print("Change the key 'three' by value '3': ", copy)

Change the key 'three' by value '3':  {'one': 'aik', 'three': '3', 'ten': 'das', 'fifteen': 'pandra'}